.xans-mall-urgencycall .info { margin:20px 10px; color:#8f8f8f; display:none;}
.xans-mall-urgencycall .required { margin:0px 0 10px; text-align:right; }
.xans-mall-urgencycall .required img { vertical-align:middle; }
.xans-mall-urgencycall .ec-base-table input[type=text],
.xans-mall-urgencycall .ec-base-table textarea { width:500px; }
.xans-mall-urgencycall .ec-base-table select { width:200px; }
.xans-mall-urgencycall .ec-base-table textarea { height:100px; }
.xans-mall-urgencycall .ec-base-table #captcha { width:160px; }