/*
#popup { width:600px; }
.xans-calendar-modify td input ,
.xans-calendar-modify td textarea { padding:2px 2px 2px 4px; width:480px; height:23px; border:1px solid #000; color:#202020; }
.xans-calendar-modify td select {padding-right:25px;}
.xans-calendar-modify td select {margin:3px 3px 3px 0;}
.xans-calendar-modify td input#date {  text-align:center; }
.xans-calendar-modify td input#confirm {  }
.xans-calendar-modify td textarea { height:80px; }
*/
#popup { width:600px; }
.xans-calendar-modify th {width:110px;}
.xans-calendar-modify td input ,
.xans-calendar-modify td textarea { padding:2px 2px 2px 4px; width:480px; height:23px; border:1px solid #000; color:#202020; }
.xans-calendar-modify td select {padding-right:25px;}
.xans-calendar-modify td select {margin:3px 3px 3px 0;}
.xans-calendar-modify td select:last-child {margin-right:0;}
.xans-calendar-modify td input#date { width:209px; text-align:center; }
.xans-calendar-modify td input#confirm { margin-bottom:3px; }
.xans-calendar-modify td textarea { height:80px; }