<!--하단회사정보-->
<div id="bottom" class="ease">      
    
    <div class="bottom_info">        
        <!--하단 회사정보-->
        <ul>
            <!--@import(/layout/mosen/layout_bottom_info.html)--> 
        </ul>
    </div>
    
    <div class="bottom_linkmenu">
        <p module="Layout_footer">Copyright {$mall_name} All right reserved / <a href="http://mosendesign.com" target="_blank">design by MOSEN</a> / Hosting by CAFE24 / <a href="/member/agreement.html">Agreement</a> / 
            <a href="/member/privacy.html"><b>개인정보취급방침</b></a> / <a href="/shopinfo/guide.html">Guide</a>
        </p>
        <!--하단에스크로배너 및 기타배너-->
        <p class="escro"><!--@import(/layout/mosen/layout_bottom_linkmenu.html)--></p>
    </div>           
    
</div>





    
