<!--아래의 내용중 검정글씨만 수정해주세요^^-->
<li><span>COMPANY</span>  모센디자인</li>
<li><span>OWNER</span>   김신오</li>
<li><span>C.P.O</span>  김신오</li>
<li><span>E-mail</span>   sino1024@nate.com</li>
<li><span>CALL CENTER</span>    010.4555.5884</li>
<li><span>MALL ORDER LICENSE</span>    제 2015 - 서울강남 - 0000호 <a href="http://ftc.go.kr/info/bizinfo/communicationList.jsp" target="_blank">[사업자정보확인]</a></li>
<li><span>BUSINESS LICENSE</span>   606-24-76416</li>
<li><span>ADDRESS</span>   서울시 강남구 청담동 1188-10 mosen</li>
