<style>
    .kg {color:#442678;}
    .kcp {color:#095878;}
    .ksnet {color:#233062;}
    .allthegate {color:#797a79;}
    .allat {color:#442678;}
    .lg {color:#442678;}
    .danal {color:#f70c1a;}
    .kgmob {color:#442678;}
    .kakao {color:#000;font-weight:normal;}
    .payco {color:#f02128;}
    .kpay {color:#d8402b;}
    .paynow {color:#c11c3a;}
</style>
<!--

아래의 해당 pg사의 소스 한줄을 복사하여 하단 소스 부분에 붙여 넣어 주세요^^ 로고를 이미지 대신 소스로 대신합니다.

<span class="kg">KG 이니시스</span>
<span class="kcp">KCP</span>
<span class="ksnet">KSNET</span>
<span class="allthegate">allthe<font style="color:#208e4d;">Gate</font></span>
<span class="allat">KG 올앳</span>
<span class="lg">LG U+</span>
<span class="danal">Da<font style="color:#0c58a1;">nal</font></span>
<span class="kgmob">KG mobilians</span>
<span class="kakao"><i class="fa fa-comment" aria-hidden="true"></i> Kakao<b>Pay</b></span>
<span class="payco">PAYCO</span>
<span class="kpay">Kpay</span>
<span class="paynow">Paynow</span>

-->


고객님은 안전거래를 위해 현금 등으로 결제시 저희 쇼핑몰에서 가입한 PG사의 구매안전서비스를 이용하실 수 있습니다. 　
<span class="kg"><b>KG</b> 이니시스</span> 에스크로 (<a href="#링크주소" target="_blank">서비스가입사실확인</a>)