/* 공통 */
.ec-base-product { margin:22px 0 0; }
.ec-base-product .title { margin:0 0 17px; }
.ec-base-product .title h2 { font-weight:normal; font-size:20px; color:#2e2e2e; text-align:center; }
.ec-base-product .title h3 { font-weight:normal; font-size:20px; color:#2e2e2e; text-align:center; }
.ec-base-product img { vertical-align:middle; }

.ec-base-product .prdList { display:table; width:100%; min-width:756px; margin:-20px 0 0; font-size:0; line-height:0; }
.ec-base-product .prdList > li { display:inline-block; margin:20px 0; color:#757575; vertical-align:top; }

.ec-base-product .prdList .chk { display:block; margin:0 0 10px; text-align:center; }
.ec-base-product .prdList .thumbnail { display:inline-block; position:relative; padding:0 7px; max-width:100%; text-align:center; }
.ec-base-product .prdList .thumbnail img { margin:0 0 10px; max-width:100%; border:1px solid #ececec; }
.ec-base-product .prdList .thumbnail .wish { position:absolute; right:10px; bottom:14px; z-index:1; cursor:pointer; }
.ec-base-product .prdList .thumbnail .wish img { margin:0; border:0; }

.ec-base-product .prdList .description { margin:0 auto; padding:0 7px; font-size:12px; line-height:18px; text-align:center; }
.ec-base-product .prdList .description .name { display:block; text-align:left; }
.ec-base-product .prdList .description .name a { color:#2e2e2e; }
.ec-base-product .prdList .description .icon { margin:0 0 15px; border-bottom:1px solid #e8e8e8; vertical-align:middle; }
.ec-base-product .prdList .description .icon:after { content:""; display:block; clear:both; }
.ec-base-product .prdList .description .promotion { float:left; margin:0 0 4px; text-align:left; }
.ec-base-product .prdList .description .button { float:right; margin:0 0 4px; }
.ec-base-product .prdList .description .button img { cursor:pointer; }
.ec-base-product .prdList .description .button .option { display:inline; position:relative; }
.ec-base-product .prdList .description .mileage { display:block; }
.ec-base-product .prdList .description span.grid { display:block; }

/* 진열방식 */
.ec-base-product ul.grid3 > li { width:33.33%; }
.ec-base-product ul.grid4 > li { width:25%; }
.ec-base-product ul.grid5 > li { width:20%; }
.ec-base-product ul.grid3 > li .color { max-width:230px; }
.ec-base-product ul.grid4 > li .color { max-width:190px; }
.ec-base-product ul.grid5 > li .color { max-width:130px; }

/* module="product_ListItem" */
.ec-base-product .spec { margin:0; }
.ec-base-product .spec li { text-align:left; }
.ec-base-product .spec li .title { font-weight:normal; vertical-align:top; }
.ec-base-product .spec li .title span { vertical-align:top; }
.ec-base-product .spec li .color { overflow:hidden; display:inline-block; margin:3px 0 0 0; }
.ec-base-product .spec li .chips { float:left; width:10px; height:10px; margin:0 2px 2px 0; border:1px solid #e3e3e3; font-size:0; line-height:0; }

/* 할인기간 레이어 */
.ec-base-product .discountPeriod { display:inline-block; z-index:10; position:relative; width:55px; height:19px; vertical-align:middle; }
.ec-base-product .discountPeriod .edge { position:absolute; left:50%; top:-6px; width:10px; height:6px; margin:0 0 0 -5px; font-size:0; line-height:0; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_tip_edge.gif") no-repeat 0 0; }
.ec-base-product .layerDiscountPeriod { display:none; position:absolute; left:50%; top:26px; width:247px; margin:0 0 0 -124px; border:1px solid #565960; font-size:12px; background-color:#fff; }
.ec-base-product .layerDiscountPeriod strong.title { display:block; margin:0 0 12px; padding:0 35px 0 0; font-weight:bold; color:#2e2e2e; }
.ec-base-product .layerDiscountPeriod .content { padding:9px 10px 12px 14px; }
.ec-base-product .layerDiscountPeriod .content p { margin:2px 0 0; font-size:11px; line-height:16px; color:#757575; letter-spacing:-1px; }
.ec-base-product .layerDiscountPeriod .content p strong { font-weight:normal; font-size:12px; color:#2e2e2e; }
.ec-base-product .layerDiscountPeriod .close { position:absolute; right:14px; top:14px; }
.ec-base-product .layerDiscountPeriod .close img { cursor:pointer; }

/* 썸네일 아이콘 위치 */
.ec-product-bgLT { background-position:left top; }
.ec-product-bgLC { background-position:left center; }
.ec-product-bgLB { background-position:left bottom; }
.ec-product-bgRT { background-position:right top; }
.ec-product-bgRC { background-position:right center; }
.ec-product-bgRB { background-position:right bottom; }
.ec-product-bgCT { background-position:center top; }
.ec-product-bgCC { background-position:center center; }
.ec-product-bgCB { background-position:center bottom; }
